<%= form_with(model: locals[:comment]) do |f| %>
  <%= f.hidden_field :post, value: locals[:comment].post.id %>
  <div class="form">
    <div class="form__field">
      <%= f.label :body, class: "form__label" %>
      <%= f.text_area :body, class: "form__textarea" %>
    </div>
    <div class="form__field">
      <%= f.submit class: "form__submit" %>
    </div>
  </div>
<% end %>
