<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <% unless notice.nil? %>
      <div class="flash">
        <div class="flash__content flash__content--notice"><%= notice %></div>
      </div>
    <% end %>
    <% unless alert.nil? %>
      <div class="flash">
        <div class="flash__content flash__content--alert"><%= alert %></div>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
